//VARIABLES
$bgGrey: rgb(82, 82, 80)
$lightBlue: rgb(92, 216, 255)

h1
  font-size: 20px
  font-family: Verdana, sans-serif
  background: black
  word-break: break-all
  text-decoration: line-through

body
  padding-top: 65px

.navbar-default
  background-color: $lightBlue
  border-color: $lightBlue

.navbar-brand
  padding-top: 0px

.navbar-brand img
  height: 50px
  padding: 0px

.about
  height: 400px
  width: 400px
  border-radius: 25%
  background: #036

.portfolio

.cv
  background-color: $bgGrey
