//VARIABLES
$bgGrey: rgb(82, 82, 80)
$bgLightBlue: rgb(92, 216, 255)

h1
  font-size: 20px
  font-family: Verdana, sans-serif
  background: black
  word-break: break-all
  text-decoration: line-through

body
  padding-top: 30px

.navbar-default
  background-color: $bgLightBlue
  border-color: $bgLightBlue

.navbar-brand
  padding-top: 0px

.navbar-brand img
  height: 50px
  padding: 0px

.about
  background-image: url("../Images/AboutBackground.png")
  height: 700px

.portfolio
  display: inline
.cv
  background-color: $bgGrey

.footer
  background-color: $bgLightBlue
  height: 45px
